body {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: scroll;
    background-color: white;
    width: 100%;
    font-family: 'Varta', sans-serif;
}

a {
    color: #000;
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em!important;
    padding-right: 1em!important;
}

.logo {
    height: 6em;
}

#header {
    display: grid;
    grid-template-columns: 6em auto auto;
    font-size: 16px;
    padding-top: 1em
}

h1 {
    padding-left: 10px;
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

blockquote {
    text-align: right;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aaaaaa;
    font-size: 12px;
    height: 3.5em;
    font-family: 'Rubik Mono One', sans-serif;
}

.navlink {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    border-right: 1px solid black;
}

.navlink-last {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    border-left: 1px solid black;
}

hr {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

#intro {
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 18px;
}

#intro > .img {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

.sideimage {
    width: 100%;
    vertical-align: middle;
}

.notes-left {
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: 18px;
}

.notes-left > div {
    padding-left: 2em;
}

.notes-right {
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 18px;
}

.notes-right > .img {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

